*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url('cool-background.png');
  color: rgb(243, 239, 239);
}

header{
  display: flex;
  
  justify-content: space-between;
  background-color: transparent;
  border-bottom: 1px solid;
  color: rgb(0, 255, 195);
}


nav{
  display: flex;
  margin: 1rem;
  gap: 20px;
}
.logout{
  margin: 1rem;
}

.strawb{
  height: 800px;
  width: 900px;
}

.auth-form{
  text-align: center;
  border: 1px solid #c9e3eb;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
	margin: 25px;
	box-shadow: 5px 5px 20px #171717;
  
}
.auth-input{
  background: transparent;
  border: none;
  border-bottom: 1px solid #c9e3eb;
  margin-bottom: 5px;
}
.register-login{
  display: flex;
  justify-content: center;
}

.login-page{
  display: flex;
  flex-direction: row;
  align-items: center;
}



.card-btn{
  width:100px;
  height:30px;
  border-radius:10px;
  
}
.goplus{
  height: 30px;
  width: 15px;
}
.add-about{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
  margin-right: 7px;
  margin-bottom: 4px;
  
}

.search-bar-container{
  display: flex;
  justify-content: center;
  margin: 1rem;
  width: 100%;
  height: 25px;
}

.search-bar{
  border-radius: 6px;
  border: none;
  border-bottom: 1px solid black;
}

button{
  position: relative;
  border: none;
  transition: .4s ease-in;
  z-index: 1;
  border-radius: 6px;
  height: 20px;
  width: 75px;
}
button::before,
button ::after{
  position: absolute;
  content: "";
  z-index: -1;
  
}

.add-btn{
  width: 35px;
  height: 25px;
  border-radius: 10px;
  

}
.add-btn:hover{
  box-shadow: inset -10.5em 0 0 0 #07f8b4, inset 10.5em 000 #e5eb3d;

}

.card-btn{
  width: 70px;
  height: 25px;
}

.card-btn:hover{
  box-shadow: inset -10.5em 0 0 0 #07f8b4, inset 10.5em 000 #e5eb3d;
}
.delete-btn{
  width: 35px;
  height: 25px;
}
.delete-btn:hover{
  box-shadow: inset -10.5em 0 0 0 #ff0000, inset 10.5em 000 #e5eb3d;
  
}


.game-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.game-card img{
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.game-card{
  display: flex;
  flex-direction: column;
  width: 400px;
  box-sizing: border-box;
  box-shadow: 0px 3px 10px rgb(7, 2, 67);
  color: rgb(226, 221, 235);
  background-color: rgb(34, 104, 83);
  border-radius: 20px;
}

.next-prev{
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 10px;
  border-radius: 3px;
}

.metacritic-good{
	color: #00e63d;
}
.metacritic-okay{
 color: rgb(232, 232, 14);
}

.metacritic-bad{
  color: red
}

.glob{
  width: 100vw;
  height: 100vh;
}

.about-page{
  display: flex;
}
.about-img{
display: flex;
flex-direction: column;
justify-content: flex-start;
margin: 1rem;

}

.main-img{
  width: 800px;
  border-radius: 15px;
}
.screenshot{
  width: 500px;
  border-radius: 15px;
}

.about-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}